@import '~react-image-gallery/styles/css/image-gallery.css';

@media only screen and (min-device-width: 1080px) {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    width: 80px;
    height: 80px;
  }
}

.physical-project-gallery .image-gallery-slide-wrapper {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.physical-project-gallery .image-gallery-swipe,
.physical-project-gallery .image-gallery-slides,
.physical-project-gallery .image-gallery-slide {
  height: 100%;
}

.physical-project-gallery .image-gallery-slide .image-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
